# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb

# Virtualenv
venv/
env/
ENV/
.venv/

# Django
*.sqlite3
db.sqlite3
/media/
staticfiles/
*.log
*.pot
*.pyc

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# PyCharm
.idea/

# Environment variables
.env
